In [1]:
type(2.3)

float

In [2]:
a1=10
print(a1, type(a1))

10 <class 'int'>

In [3]:
print(float(a1))

10.0

In [4]:
int(10.56)

10

In [5]:
int(10.02)

10

# implicit type conversion

In [6]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [7]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Explicit type conversion

In [8]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+int(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>
579

In [9]:
num_int = 123
num_str = "456.76"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### note: can not convert float number in string format to an integer. Because . is treated as a character

# Strings

In [10]:
string1 = 'apssdc'
string2 = 'data analysis'
string1 + string2

'apssdcdata analysis'

In [13]:
string3 = string1 + string2
string3

'apssdcdata analysis'

In [14]:
string3[10]

' '

In [15]:
string3[6]

'd'

In [16]:
string1[-1]

'c'

In [17]:
string1[1:4]

'pss'

In [18]:
print(string1[1:4])

pss

#####  note: from 1 to 4. here 4 is exclusive

###  reversing a string

In [19]:
string1[::-1]

'cdsspa'

In [21]:
string1[::2] # skips every 2nd letter

'asd'

# slice ([]) operator
We can  reverse the given string using the extended slice operator. 
Generally, a slice operator accepts three parameters - start, stop and step. We provided the no value to start and end index, which indicates the start index is 0 and the end is n-1 by default. The step size is -1; it means the string continues the traverse from the end and goes to the 1 index position.

In [23]:
string1

'apssdc'

In [24]:
string1[::1]

'apssdc'

In [25]:
string1[0:3:1]

'aps'

In [26]:
string1[0:3:2]

'as'

In [27]:
string1.isalpha()

True

In [28]:
string3.isalpha()

False

In [29]:
help(str.isalpha)

Help on method_descriptor:

isalpha(self, /)
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

## LIST
- Used to store collection data
- are mutable (changeable)
- [] are used for lists
- in array we can give single datatype. lists allows differnt data types

In [31]:
list1 = [] # empty list
list2 = [10, 'amar', 123.45,'999' ]
list2

[10, 'amar', 123.45, '999']

In [32]:
list2[1]

'amar'

In [33]:
list2[1:3]

['amar', 123.45]

In [34]:
list2[::-1] # reverse the list elements

['999', 123.45, 'amar', 10]

In [37]:
dir(list) # to know all the methods and variables of list object

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
list2[2]= 5555 # mutable
list2

[10, 'amar', 5555, '999']

In [41]:
list2.append('nellore') # append will add only one value at the end
list2

[10, 'amar', 5555, '999', 'nellore']

In [43]:
list2.extend(['earth', 'mars', 'venus'])
list2

[10,
 'amar',
 5555,
 '999',
 'nellore',
 'earth',
 'mars',
 'venus',
 'earth',
 'mars',
 'venus']

In [51]:
list2.remove('nellore')

ValueError: list.remove(x): x not in list

In [49]:
list2.remove(10)

In [50]:
list2

['amar', 5555, '999', 'earth', 'mars', 'venus', 'earth', 'mars', 'venus']

#### nellore is removed but why the error?

# Nested list

In [52]:
list3=[10,20,30, ['earth','sun','moon'] ]
list3[3]

['earth', 'sun', 'moon']

In [54]:
list3[3][2]

'moon'

### Dictionaries
- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [55]:
dict1 = {1 :'amar', 'two': 'akbar', 3:'anthony' }
dict1

{1: 'amar', 'two': 'akbar', 3: 'anthony'}

In [59]:
dict1.keys()

dict_keys([1, 'two', 3])

In [58]:
dict1.values()

dict_values(['amar', 'akbar', 'anthony'])

In [60]:
dict1['two']

'akbar'

In [62]:
# lIST in Dictionary
dict2 = {'planets':['earth','venus','mars'],
          'postion':[3,2,4],
        'days':[365,225,687]}

In [63]:
dict2['days']

[365, 225, 687]

In [64]:
dict2['planets'][1]

'venus'

# Tuples
- immutable (not changeable)
- () are used for tuples

In [65]:
tuple1 = () #empty
type(tuple1)

tuple

In [67]:
tuple2=(221)
type(tuple2)

int

In [70]:
tuple3=(2255,)
tuple(tuple3)

(2255,)

In [71]:
tuple2=(300, 400, 500)
tuple2

(300, 400, 500)

In [73]:
tupl2(1) = 800

SyntaxError: can't assign to function call (<ipython-input-73-7444477c1097>, line 1)

##### note: tuples are immutable